html {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    /* 注释------------------- */
    background-color: aquamarine;
}

h1 {
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    color: black;
    text-shadow: 3px 3px 1 px black;
}


p,
li {
    font-size: 36px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 500px;
    margin: 0 auto;
    background-color: tomato;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(12, 16, 248);
}

img {
    display: block;
    margin: 0 auto;
}